<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Document</title>

  
</head>
<body>

  <div class="topnav" id="myTopnav">
    <a href="#home" class="active"><i class="fa fa-youtube" aria-hidden="true"></i></a>
    <a href="#news"><i class="fa fa-upload" aria-hidden="true"></i></a>
    <a href="#contact"><i class="fa fa-microphone" aria-hidden="true"></i></a>
    <a href="#about"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
  
  </div>
  
  
      <div class="row">
          
  
  
  
          <div class="col-sm-3">
  
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/KuCXRswZ1Aw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                   picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
  
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/L-x3vF3gXU8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                  picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/HODQ0dLCdfM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                  picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
              <iframe width="260" height="215" src="https://www.youtube.com/embed/_bkX5VkZg8U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                   picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/vP9QpcqzSns" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                      picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
              <iframe width="260" height="215" src="https://www.youtube.com/embed/lR2RvptvwBE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                       picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/_bkX5VkZg8U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                        picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
          </div>
          <div class="col-sm-3">
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/kHbgoT4Kj3c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
          picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/8-9oFxYFODE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
  picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
  
  
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/PkkV1vLHUvQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                  picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/1rbJ0eoRVt0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                  picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/KuCXRswZ1Aw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                        picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
              <iframe width="260" height="215" src="https://www.youtube.com/embed/2LqVUwLD3_c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                  picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/m5_AKjDdqaU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                  picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
          </div>
          <div class="col-sm-3">
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/2LqVUwLD3_c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                  picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/HODQ0dLCdfM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                      picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
              <iframe width="260" height="215" src="https://www.youtube.com/embed/8-9oFxYFODE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                      picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/LN22JjcWq7s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                   picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
              <iframe width="260" height="215" src="https://www.youtube.com/embed/wBmAE7dVFko" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                       picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/L-x3vF3gXU8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                           picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
  
              <iframe width="260" height="215" src="https://www.youtube.com/embed/_bkX5VkZg8U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                                     picture-in-picture" allowfullscreen></iframe>
              <br><button class="dislike">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </button> &nbsp;&nbsp;
  
              <button class="like">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </button><br><br>
  
          </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      </div>
  
  <div class="navbar">
    <a href="#home" class="active"><i class="fa fa-home" aria-hidden="true"></i></a>
    <a href="#news"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    <a href="#contact"><i class="fa fa-folder-o" aria-hidden="true"></i></i></a>
  </div>
  
</body>
</html>
  